{{define "content"}}
<h1>{{.Heading}}</h1>
{{range .Stories}}
  <div class="story">
    <div>
      <span class="score">{{.Score}}</span>
      <a href="/stories/{{.ID}}">{{.Title}}</a>
      {{if .URL}}<span class="meta">({{.URL}})</span>{{end}}
    </div>
    <div class="meta">
      by <a href="/accounts/{{.AccountID}}">{{.AccountName}}</a> <span class="karma">({{.AccountKarma}})</span> · {{.CommentCount}} comments · {{formatTime .CreatedAt}}
      {{range .Tags}}<a href="/?tag={{.}}" class="tag">{{.}}</a>{{end}}
    </div>
  </div>
{{else}}
  <p>No stories yet.</p>
{{end}}
{{end}}
